@use "variables";
@font-face {
  font-family: Modulus;
  src: url("/public/assets/fonts/Modulus.ttf");
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .header-text {
    font-family: Modulus, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    text-align: center;
    padding: 10px;

    .puyo-puyo {
      color: variables.$light-blue;
    }

    .tetramemo {
      color: variables.$purple;
    }
  }
}
